@import "tailwindcss";

body {
  @apply bg-[#0d0d0f] text-gray-100 font-sans;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}